<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Musica.DAL.Properties.Settings.MusicaConnectionString"
            connectionString="Data Source=EEH\SQLEXPRESS;Initial Catalog=Musica;Integrated Security=True;Connect Timeout=30;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>